#directories
kernel/
intermediate_kernel/
final_kernel/
kexec-tools/
busybox/
final_rootfs_busybox/
host_kernel/

#output files
usermode/custom_kexec
.kexec_mod.*
kexec_mod.ko*
kexec_mod.o
Module.symvers
kexec_mod.Module
modules.order
kexec_mod.mod*
initramfs.cpio.gz
final_rootfs.cpio.gz
intermediate_initrd.cpio.gz
shimboot_*.bin
shimboot_*.zip